<?xml version="1.0"?>
<launch>
  <param name="costmap_converter_plugin" type="string" value="costmap_converter::CostmapToPolygonsDBSMCCH" />

  <arg name="world_name" default="$(find wheelchair_iaslab_gazebo)/worlds/empty.world"/>

  <include file="$(find wheelchair_iaslab_gazebo)/launch/spawn_wheelchair.launch">
    <arg name="robot_id" value="wheelchair_iaslab" />
  </include>

  <!-- start simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find wheelchair_navigation)/worlds/iaslab_double_turn.world"/>
  </include>

</launch>
